@import url("styles/global.css");

a{
    text-decoration: none;
}

header{
    width: 100%;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    background-color: black;
    color: white;
    height: 70px;
}
#navbar p{
    font-size: 25px;
}
#navbar a{

    color: white;
    
}
#navbar a:hover{
    color: gray;
}
#nav-list{
    display: flex;
    padding: 0;
    list-style: none;
    gap: 20px;
}
