*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'JetBrains';
    background-color: black;
    
}
@font-face {
    font-family: 'JetBrains';
    src: url('/Fonts/ttf/JetBrainsMono-Regular.ttf');
}
@font-face {
    font-family: 'JetBrains Bold';
    src: url('/Fonts/ttf/JetBrainsMono-Bold.ttf');
}
@font-face {
    font-family: 'JetBrains Italic';
    src: url('/Fonts/ttf/JetBrainsMono-Italic.ttf');
}

.container{
    max-width: 1920px;
    place-items: center;
}